body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h2 {
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#reader {
    margin: auto;
}

#result {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
